<h5> CCC Module List </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><b> No </b></th>
            <th scope="col"><b> Module</b></th>
            <th scope="col"><b> Tag</b></th>
            <th scope="col"><b> Hash</b></th>
            <th scope="col"><b> Register</b></th>
        </tr>
    </thead>
    <tbody>
        {% for module in job.module_set.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ module.name }}</td>
            <td>{{ module.tag }}</td>
            <td>{{ module.hash_value }}</td>
            <td>{{ module.register }}</td>
            <td>
                <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    onclick="deleteModule(`{{job.id}}`, `{{module.id}}`)">
                    delete
                </button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>