{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'offcanvas.css' %}">
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TV Broadcast Solution CCC</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'CCC:main' 1 %}">Dashboard</a>
        </li>
      </ul>
      <a href="" class="btn btn-outline-success" data-toggle="modal" data-target="#createModal">
        <small>CREATE</small>
      </a>
    </div>    
    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" data-backdrop="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="createModalLabel">Create Job</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form action="{% url 'CCC:create' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              {{ form.as_p }}
              <p>
              <label id="build_date">Build Date : </label>
              <input id="build_date" type="date" name="build_date">
              </p>
              <p>
              <label id="build_time">Build Time : </label>
              <input id="build_time" type="time" name="build_time">
              </p>
            </div>
            <div class="modal-footer">
              <input class="btn btn-primary" type="submit" name="create" value="Create">
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<main class="container-fluid">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-1 text-white lh-1">Job Dashboard</h1>
      <small>latest update 2021.02.11</small>
    </div>
  </div>
  {% if latest_job_list %}
  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col"><b> No </b></th>
              <th scope="col"><b> Register job</b></th>
              <th scope="col"><b> Start Time</b></th>
              <th scope="col"><b> Assignee </b></th>
              <th scope="col"><b> Summary </b></th>
              <th scope="col"><b> Option </b></th>
              <th scope="col"><b> Status </b></th>
          </tr>
      </thead>
      <tbody>
          {% for job in latest_job_list %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ job.branch }}</td>
              <td>{{ job.build_start_time | date:'y-m-d H:i' }}</td>
              <td>{{ username }}</td>
              <td>
              {% for module in job.module_set.all|slice:":5" %}
                [{{ module.name }}]
              {% endfor %}
              </td>
              <td>
                <a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#detailModal"
                    data-job_branch="{{ job.branch }}"
                    data-job_time="{{ job.build_start_time | date:'y-m-d H:i' }}"
                    data-job_modules=
                      "{% for module in job.module_set.all %}{{module}} {% endfor %}"
                    data-job_id="{{job.id}}">
                  DETAIL
                </a>
                <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel"> ... </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="footer-alert-messages"> </div>
                      <div class="modal-body" id="modalBody">
                        <h5> CCC Module List </h5>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col"><b> No </b></th>
                              <th scope="col"><b> Module </b></th>
                              <th scope="col"><b> Tag </b></th>
                              <th scope="col"><b> Hash </b></th>
                              <th scope="col"><b> Option </b></th>
                            </tr>
                          </thead>
                          <tbody> </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <div class="col-sm-9">
                          <form id="moduleAddForm" name="moduleAddForm">
                            {% csrf_token %}
                            <div class="row">
                            <div class="col-4 col-sm-3">
                              <label for="module-name" class="col-form-label">Module</label>
                              <input type="text" class="form-control" id="module-name" name="module_name">
                            </div>
                            <div class="col-4 col-sm-3">
                              <label for="module-tag" class="col-form-label">Tag</label>
                              <input type="text" class="form-control" id="module-tag" name="module_tag">
                            </div>
                            <div class="col-4 col-sm-6">
                              <label for="module-hash" class="col-form-label">Hash</label>
                              <input type="text" class="form-control" id="module-hash" name="module_hash">
                            </div>
                          </div>
                        </form>
                      </div>
                        <button type="button" class="btn btn-primary" id="detailAdd">Add</button>
                        <form name="detailCloseForm">
                          {% csrf_token %}
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="detailClose" name="detailClose">Close</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
                <a href="{% url 'CCC:start' job.id %}"
                    onclick="return confirm('정말 시작?')"
                    class="btn btn-outline-success btn-sm">
                    START
                </a>
                <a href="{% url 'CCC:abort' job.id %}"
                    onclick="return confirm('정말 삭제?')"
                    class="btn btn-outline-danger btn-sm">
                    ABORT
                </a>
              </td>
              <td><h5><span class="badge rounded-pill bg-primary text-white ">scheduled</span></h5></td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  {% endif %}
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
  </div>
</main>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end pagination-sm">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" onclick="PageMove({'option': 'previous'})">Previous</a>
    </li>
    <!-- <li class="page-item"><a class="page-link" href="{% url 'CCC:main' 1 %}">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'CCC:main' 2 %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'CCC:main' 3 %}">3</a></li> -->
    <li class="page-item"><a class="page-link" href="#" onclick="PageMove(1)">1</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="PageMove(2)">2</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="PageMove(3)">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" onclick="PageMove(option='next')">Next</a>
    </li>
  </ul>
</nav>
<script src="{% static 'offcanvas.js' %}"></script>
<script src="{% static 'detail_job.js' %}"></script>
<script src="{% static 'main_button.js' %}"></script> 
</body>
{% endblock content %}